<a href="https://colab.research.google.com/github/Rish151/ML-Lab/blob/main/ML_Lab7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [2]:
import pandas as pd
file_path = "/content/drive/MyDrive/titanic.csv"
df = pd.read_csv(file_path)
print(df.head())  # Display first 5 rows

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

In [3]:
missing_values = df.isnull().sum()
print("Missing values per column:\n", missing_values)

Missing values per column:
 PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [4]:
total_missing = df.isnull().sum().sum()
print("\nTotal missing values in dataset:", total_missing)

Total missing values in dataset: 866

In [5]:
num_survived = df['Survived'].sum()  # Sum of '1's gives total survivors

print("Number of people who survived:", num_survived)

Number of people who survived: 342

In [6]:
survivors_by_gender = df.groupby("Sex")["Survived"].sum()

print("Number of male survivors:", survivors_by_gender.get("male", 0))
print("Number of female survivors:", survivors_by_gender.get("female", 0))

Number of male survivors: 109
Number of female survivors: 233

In [7]:
average_age_survived = df[df["Survived"] == 1]["Age"].mean()

print("Average age of people who survived:", round(average_age_survived, 2))

Average age of people who survived: 28.34

In [8]:
survivors = df[df["Survived"] == 1]


min_age = survivors["Age"].min()
max_age = survivors["Age"].max()

print("Minimum age of people who survived:", min_age)
print("Maximum age of people who survived:", max_age)

Minimum age of people who survived: 0.42
Maximum age of people who survived: 80.0

In [9]:
survival_by_class = df.groupby("Pclass")["Survived"].sum()

print("Survival count with respect to class:\n", survival_by_class)

Survival count with respect to class:
 Pclass
1    136
2     87
3    119
Name: Survived, dtype: int64

In [10]:
num_with_sibsp = (df["SibSp"] > 0).sum()

print("Number of passengers with at least one sibling/spouse:", num_with_sibsp)

Number of passengers with at least one sibling/spouse: 283

In [11]:
num_with_parch = (df["Parch"] > 0).sum()

print("Number of passengers with at least one parent/child:", num_with_parch)

Number of passengers with at least one parent/child: 213

In [15]:
print("column",len(df.columns))

column 12

In [16]:
print("column",(df.columns))

column Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [17]:
last_two_columns = df.iloc[:, -2:]  # Selects the last two columns
print(last_two_columns)

    Cabin Embarked
0     NaN        S
1     C85        C
2     NaN        S
3    C123        S
4     NaN        S
..    ...      ...
886   NaN        S
887   B42        S
888   NaN        S
889  C148        C
890   NaN        Q

[891 rows x 2 columns]

In [18]:
last_two_columns = df.columns[-2:]
print(last_two_columns)

Index(['Cabin', 'Embarked'], dtype='object')

In [19]:
missing_age_rows = df[df['Age'].isnull()]

print(missing_age_rows)

     PassengerId  Survived  Pclass                                      Name  \
5              6         0       3                          Moran, Mr. James
17            18         1       2              Williams, Mr. Charles Eugene
19            20         1       3                   Masselmani, Mrs. Fatima
26            27         0       3                   Emir, Mr. Farred Chehab
28            29         1       3             O'Dwyer, Miss. Ellen "Nellie"
..           ...       ...     ...                                       ...
859          860         0       3                          Razi, Mr. Raihed
863          864         0       3         Sage, Miss. Dorothy Edith "Dolly"
868          869         0       3               van Melkebeke, Mr. Philemon
878          879         0       3                        Laleff, Mr. Kristo
888          889         0       3  Johnston, Miss. Catherine Helen "Carrie"

        Sex  Age  SibSp  Parch      Ticket     Fare Cabin Embarked
5      male  NaN      0      0      330877   8.4583   NaN        Q
17     male  NaN      0      0      244373  13.0000   NaN        S
19   female  NaN      0      0        2649   7.2250   NaN        C
26     male  NaN      0      0        2631   7.2250   NaN        C
28   female  NaN      0      0      330959   7.8792   NaN        Q
..      ...  ...    ...    ...         ...      ...   ...      ...
859    male  NaN      0      0        2629   7.2292   NaN        C
863  female  NaN      8      2    CA. 2343  69.5500   NaN        S
868    male  NaN      0      0      345777   9.5000   NaN        S
878    male  NaN      0      0      349217   7.8958   NaN        S
888  female  NaN      1      2  W./C. 6607  23.4500   NaN        S

[177 rows x 12 columns]